*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    /* min-height: 100px; */
    /* border: 1px solid #ccc; */
    /* background-color: #EDEFF4; */
}
.cont1{
    width: 100%;
    margin: auto;
    /* min-height: 500px; */
    /* background-color: aqua; */
    /* border: 1px solid black; */
    display: flex;
}
.c1logo{
    width: 25%;
    height: 60px;
    /* padding: 20px; */
    /* background-color: rgb(63, 145, 124); */
    /* border: 1px solid black; */
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c2logo{
    width: 25%;
    height: 49px;
    /* padding: 20px; */
    /* background-color: rgb(63, 145, 124); */
    /* border: 1px solid black; */
    border-style: solid;
    border-color: #ccc;
    border-width: 0px 0px 1px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    margin-right: 10px;
}
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c1d1{
    width: 100%;
    height: 109px;
    background-color: white;
    /* border: 1px solid black; */
    /* display: flex; */
}
.c1d1-1{
    width: 100%;
    height: 60px;
    /* background-color: rgb(91, 209, 127); */
    /* border: 1px solid black; */
    display: flex;
}
.c1d1-2{
    width: 100%;
    height: 49px;
    /* background-color: rgb(91, 209, 127); */
    /* border: 1px solid black; */
    /* border-style: solid;
    border-width: 0px 1px 1px 1px; */
    display: flex;
}
.c1d2{
    width: 75%;
    min-height: 498px;
    background-color: white;
    border: 1px solid black;
}
.nav2{
    height: 60px;
    width: 75%;
    border: 1px solid #ccc;
    background-color: white;
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-bottom: 50px; */
}
.ul1{
    display: flex;
    /* justify-content: space-between; */
}
.ul1 li {
    flex-grow: 1;
}
a{
    text-decoration: none;
}
.a2{
    color: black;
}
li{
    list-style-type: none;
    font-weight: bold;
}
.li2:hover {
    background-color: #FFCC00;
    color: black;
}
a:hover {
    color: black;
}
.inner2{
    padding-top: 8px;
    padding-right: 30px;
    display: flex;
}
.li2{
    list-style-type: none;
    display: inline-block;
    padding: 26px 22px 14px 22px;
    font-size: 1vw;
    border-right: 1px solid #ccc;
    /* width: 100px; */
    text-align: center;
}
.li3{
    list-style-type: none;
    display: inline-block;
    padding: 24px 22px 16px 22px;
    font-size: 1vw;
    border-right: 1px solid #ccc;
    /* width: 100px; */
    text-align: center;
}
.liWidth{
    width: 130px;
}
.eng{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tW{
    margin-top: 3px;
    margin-right: 2px;
}
.c2Main{
    width: 100%;
    height: 60px;
    /* padding: 20px; */
    /* background-color: rgb(63, 145, 124); */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2{
    width: 100%;
    margin: auto;
    display: flex;
}
.c2d1{
    width: 25%;
    border-right: 1px solid #ccc;
}
.c2d2{
    width: 75%;
}
.c2-price{
    width: 70%;
    /* height: 300px; */
    margin: auto;
    /* border: 1px solid black; */
}
.c2-body{
    width: 90%;
    /* min-height: 300px; */
    margin: auto;
    /* border: 1px solid black; */
}
.search-products{
    width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  box-sizing: border-box;
}
input[type=text]:focus {
    border-color: #ccc;
}
.search-popular{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  /* border-radius: 4px; */
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  box-sizing: border-box;
}
.search-cont{
    display: flex;
    width: 100%;
}
.card-div{
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent-card{
    width: 33%;
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 3%;
}
.pic-div{
    width: 100%;
    height: 149px;
    /* border: 1px solid black; */
}
.content-div{
    width: 100%;
    height: 149px;
    padding: 0px 10px;
    /* border: 1px solid black; */
}
.login-div{
    min-height: 320px;
    width: 30%;
    margin: auto;
    margin-top: 4%;
background: #a7a7a733;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.field{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #c6fddf;
  margin-bottom: 4%;
}
.login-form{
    padding: 20px;
}
.css-187mznn-MuiSlider-root{
    color: red;
}